.balance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16rem;
}

.caption {
  color: var(--color-mnfst-text-grey);
  font-size: 1.75rem;
  line-height: 3rem;
}

.value {
  margin: 4rem 0;
  font-size: 7rem;
  font-weight: 900;
  line-height: 8rem;
}

.valueTextStub {
  display: inline-block;
  width: 28.5rem;
  height: 7rem;
  background: var(--color-interface-lighter);
}
