.secondaryNavigation {
  display: flex;
  align-items: center;
}

.secondaryNavigationItem {
  min-width: 10rem;
  margin: 1rem 0;
  font-size: 1.35rem;
}
@media (min-width: 375px) {
  .secondaryNavigationItem {
    font-size: 1.45rem;
  }
}
.secondaryNavigationItem:not(:first-child) {
  padding-left: 1rem;
}
.secondaryNavigationItem:not(:last-child) {
  padding-right: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.control {
  line-height: 2rem;
}
