.pageSection {
  padding: 2rem 0;
}
.pageSection:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.pageSectionTitle {
  display: flex;
  justify-content: space-between;
  max-width: 96rem;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 2.5rem;
}

.pageSectionContent {
  max-width: 96rem;
  margin: 0 auto;
  padding: 2rem 0;
}
