.pageSection {
  padding: 2rem 0;
}

.pageSectionTitle {
  display: flex;
  justify-content: space-between;
  max-width: 96rem;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 2.5rem;
}

.pageSectionContent {
  max-width: 96rem;
  margin: 0 auto;
  padding: 2rem 0;
}
