.campaignPostTextInput {
  font-size: 1.75rem;
  line-height: 3rem;
}

.instagramFeedPostTextInput {
  font-size: 1.75rem;
  line-height: 3rem;
}

.instagramStoryPostTextInput {
  font-size: 3rem;
  line-height: 5rem;
}
