@font-face {
  font-family: "Thyngyfy";
  src: url("./assets/thyngyfy-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Thyngyfy";
  src: url("./assets/thyngyfy-bold.woff2") format("woff2");
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

body {
  margin: 0;
  font: 2rem Thyngyfy, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

a {
  text-decoration: none;
}
